body {
    background: rgba(247,247,247,1);
    font-family: "Roboto", sans-serif!important;
    font-weight: 100;
    font-size: 20px;
    line-height: 32px;
    color: #879196;
}

#spinner {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 9999;
    background: white;
}

#spinner img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -18px;
    margin-left: -18px;
}

#header {
    padding: 30px;
    z-index: 10;
    position: relative;
}

#logo {
    float: left;
}

#logoGrammata {
    margin: 0px 0 10px 10px;
}

#letsTalk:hover {
    background: #f56f53;
}

#letsTalk {
    float: right;
    text-decoration: none;
    color: white;
    background: rgba(21,121,155,1);
    display: inline-block;
    padding: 12px 25px;
    border-radius:40px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.radios {
    position: absolute;
    height: 230px;
    width: 50px;
    z-index: 1000;
}

 ul{
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


ul li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.checked {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(245,111,83,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(245,111,83,0.5);
    box-shadow: 0px 0px 5px 0px rgba(245,111,83,0.5);
}

ul li .check{
    display: block;
    position: absolute;
    border: 1px solid #AAAAAA;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}


ul li .check::before {
    background: #ccc;
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 6px;
    width: 6px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.checked {
    border: 5px solid #0DFF92;
}

.checked::before{
    background: #f56f53!important;
}

.checked{
    color: #0DFF92;
}

.container {
    max-width: 1440px!important;
    max-height: 100%!important;
}

.sliderImages {
    position: relative;
}

.sliderImages .slideImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.sliderImages .background {
    width: 100%;
}

.sliderTexts {
    background: white;
    padding: 10px 30px 20px 10px;
    margin-left: 70px;
    overflow: hidden;
    position: relative;
}

.leftContent {
    z-index: 300;
    float: left;
    max-width: 300px;
    position: relative;
}

.rightContent {
    float: left;
    background: black;
    height: 100%;
    z-index: 100;
}

.rightContent img {
    z-index: 100;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainContainer {
    width: 100%;
    max-width: 1550px;
    position: absolute;
    top: 150px;
    bottom: 90px;
    overflow: hidden;
}

.slideText h1 {
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 60px;
    line-height: 68px;
    color: #f6795e;
}

.slideText p {
    color: #879196;
    letter-spacing: 1.1px;
    z-index: 300;
    font-size: 17px;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 10px;
}

.mobile-text h1 {
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 60px;
    line-height: 68px;
    color: #f6795e;
}

.mobile-text p {
    color: #879196;
    letter-spacing: 1.1px;
    z-index: 300;
    font-size: 17px;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 10px;
}

.slideText {
    display: none;
}

.slideText:first-child {
    display: block;
}


form {
    position: absolute;
    left: 370px;
    top: 20%;
    color: black;
    font-weight: 300;
}

.form-success {
    position: relative;
    padding-top: 100px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.form-success h1 {
    font-size: 70px;
    font-weight: 300;
}

.form-success p {
    font-size: 22px;
    font-weight: 400;
}

form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    color: #f7f7f7;
    font-size: 16px;
    font-weight: 300;
    cursor: text;
}

form label span{
    margin-left: -10px;
}

form input[type=text] {
    background: none;
    outline: none;
    padding: 0px;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: none;
    font-weight: 400!important;
    padding: 5px;
    padding-bottom: 8px;
}

form > div {
    border-bottom: 1px solid #c45942;
    padding-bottom: 8px;
    margin-top: 8px;
}

form input[type=submit] {
    position: absolute;
    bottom: -70px;
    -webkit-box-shadow: 0px 10px 5px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 10px 5px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 10px 5px 4px rgba(0,0,0,0.05);
    background: rgba(21,121,155,1);
    padding: 15px 30px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    font-size: 20px;
    font-weight: 300;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.25);
    padding: 16px 28px;
    border-radius:40px;

    padding: 12px 25px;
    border-radius:40px;
    font-size: 18px;
    font-weight: 300;
    
    cursor: pointer;
    right: 0;
}

form input[type=submit]:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mobileImage {
    height: 100%;
    width: auto;
    position: fixed;
    width: auto;
    top: 140px;
    display: none;
}

.slide4-images {
    height: 100%;
    width: auto;
    position: fixed;
    width: auto;
    bottom: 0;
    right: 0;
}

.mobile-mode {
    display: none;
}

.mobile-mode-container {
    overflow: hidden;
}


.mobile-image form {
    position: absolute;
    left: 10px;
    width: 90%;
    margin: auto;
    color: white;
}

.mobile-image form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    color: #f7f7f7;
    font-size: 16px;
    font-weight: 300;
    cursor: text;
}

.mobile-image form label span{
    margin-left: -10px;
}

.mobile-image form input[type=text] {
    background: none;
    outline: none;
    padding: 0px;
    border: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: none;
    color: black;
    padding-bottom: 8px;
}

.mobile-image form > div {
    border-bottom: 1px solid #c45942;
    padding-bottom: 8px;
    margin-top: 8px;
}

.mobile-image form input[type=submit] {
    position: absolute;
    bottom: -70px;
    -webkit-box-shadow: 0px 10px 5px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 10px 5px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 10px 5px 4px rgba(0,0,0,0.05);
    background: rgba(21,121,155,1);
    padding: 15px 30px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    font-size: 20px;
    font-weight: 300;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.25);
    padding: 16px 28px;
    border-radius:40px;

    padding: 12px 25px;
    border-radius:40px;
    font-size: 18px;
    font-weight: 300;
    
    cursor: pointer;
    right: 0;
}

.mobile-image form input[type=submit]:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mobile-background {
    position: relative;
    width: 100%;
}

.mobile-background-hand {
    position: absolute;
    height: 100%;
    right: -15px;
    bottom: 0;
}

.mobile-background-image {
    position: absolute;
    top: 0;
    left: auto;
    height: 120%;
}

.mobile-image-mobile-container {
    
}

.mobile-image-form {
    margin-bottom: 25px;
}

.mobile-background-hand-container {
    margin-left: -30px;
    margin-right: -30px;
}
.mobile-mode #header {
    background: white!important;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.mobile-mode #logoMono {
    height: 50px!important;
    padding-top: 10px; 
    padding-left: 10px; 
}

.mobile-mode #logoGrammata {
    padding-top: 10px; 
    padding-left: 10px; 
    margin: 15px 10px 10px 0px!important;
}

.mobile-mode #letsTalk {
    float: right;
    text-decoration: none;
    color: white;
    background: rgba(21,121,155,1);
    display: inline-block;
    padding: 8px 20px;
    border-radius:40px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.background {
   
}

.not-visible {
    opacity: 0;
}

.radios {
    position: fixed;
    left: 35px;
}

.mobile-mode h1{
    margin: 0;
}