{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT" />

        <title>
            {% block Title %}{{appName}}{% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="/bundles/appkernel/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/appkernel/css/main-login.css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
        <style>{% block inlinestyles %}{% endblock inlinestyles %}</style>
            
    </head>
    <body>
        <div id="loginHeader">
            <div class="logo">
                <a href="#" title="bubbllz.com"><img src="/bundles/appkernel/images/logo1.jpg" alt="Bubbllz"/></a>
            </div>
            <div class="loginform">
                {% block fos_user_content %}{% endblock fos_user_content %}
            </div>
        </div>
        
        <div id="login-main-content" style="text-align: center; padding-top: 150px;">
            <img src="/bundles/appkernel/images/login_logo.png" alt="bubbllz"/>
        </div>
        
        <div id="loginFooter">
            <span>ITBOOMS © 2017 | Terms of use</span>
        </div>
    </body>
</html>

