<div>
    <div id="header-logo">
        <img src="/bundles/general/images/logo_white.png" style="max-width: 80%!important; max-height: 40px!important;"/>
    </div>
    <a href="javascript:void(0);" id="header-close-menu" class="close-menu" style="display: inline-block;"><i class="fa fa-bars fa-2x fa-fw"></i></a>
    
    <a href="javascript:void(0);" id="ajax-spinner" class=""><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></a>
</div>