
<!-- Scripts -->
	<script src="/bundles/kernel/js/libs/jquery-1.10.2.min.js"></script>
	<script src="/bundles/kernel/js/setup.js"></script>

	<!-- Template functions -->
	<script src="/bundles/kernel/js/developr.input.js"></script>
	<script src="/bundles/kernel/js/developr.message.js"></script>
	<script src="/bundles/kernel/js/developr.modal.js"></script>
	<script src="/bundles/kernel/js/developr.navigable.js"></script>
	<script src="/bundles/kernel/js/developr.notify.js"></script>
	<script src="/bundles/kernel/js/developr.scroll.js"></script>
	<script src="/bundles/kernel/js/developr.progress-slider.js"></script>
	<script src="/bundles/kernel/js/developr.tooltip.js"></script>
	<script src="/bundles/kernel/js/developr.confirm.js"></script>
	<script src="/bundles/kernel/js/developr.agenda.js"></script>
	<script src="/bundles/kernel/js/developr.tabs.js"></script>		<!-- Must be loaded last -->

	<!-- Tinycon -->
	<script src="/bundles/kernel/js/libs/tinycon.min.js"></script>
