{% extends "BubbllzUserBundle:Shared:Layout.html.twig" %}
{% block content %}



    <hgroup id="main-title" class="thin">
        <h1>Πληροφορίες</h1>
    </hgroup>

    <div class="with-padding" style="margin-left: 20px!important;">
        {{form_start(form, {'action': path('kernel_users_create'),'attr': {'id': 'form', 'class': 'columns', 'enctype': 'multipart/form-data'} } )}}
        <div class="five-columns six-columns-tablet twelve-columns-mobile">

            <br/>
            <label class="two columns green underline">UserName</label>
            {{form_widget(form.user.username)}}

            <label class="two columns green underline">Email</label>
            {{form_widget(form.user.email)}}

            <label class="two columns green underline">Κωδικός</label>
            {{ form_widget(form.user.plainPassword.first,{'attr': {'class': 'input full-width'} }) }}

            <label class="two columns green underline">Επαλήθευση Κωδικού</label>
            {{ form_widget(form.user.plainPassword.second,{'attr': {'class': 'input full-width'} }) }}

            <label class="two columns green underline">Γκρούπ Ρόλων</label>
            {{form_widget(form.user.groups)}}
            
               <label class="two columns green underline">Διεγραμένος</label>
            {{form_widget(form.isActive)}}
            <div class="clearfix"></div>
            <br>
            <button type ="submit" href="javascript:void(0)" class="savebtn button green-gradient glossy">Αποθήκευση</button>

        </div>
        <div class="five-columns six-columns-tablet twelve-columns-mobile">

            <br/>
            <label class="two columns green underline">Όνομα </label>
            {{form_widget(form.firstName)}}

            <label class="two columns green underline">Επίθετο</label>
            {{form_widget(form.lastName)}}

            <label class="two columns green underline">Τηλέφωνο</label>
            {{ form_widget(form.phone) }}

            <label class="two columns green underline">Τηλέφωνο 2</label>
            {{ form_widget(form.phone2)}}

            <label class="two columns green underline">Διεύθυνση</label>
            {{form_widget(form.address)}}
            
             <label class="two columns green underline">Ενεργός</label>
            {{form_widget(form.isActive)}}
            
            <div class="clearfix"></div>
            <br>



        </div>
        <div class="clearfix"></div>
        {{form_end(form)}}
    </div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $.template.init();


        $('.savebtn').click(function () {
            var form = $('#form');
            // form.submit();
            // return false;
        });


        $(document).ready(function () {

        });
    </script>
{%endblock%}
