{% extends "BubbllzKernelBundle:Shared:Layout.html.twig" %}
{% block content %}
    <hgroup id="main-title" class="thin">
        <h1>Πληροφορίες</h1>
    </hgroup>
    <div class="with-padding">
        <h4 class="content-header"></h4>
        <table class="table responsive-table" id="sorting-advanced">

            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" name="check-all" id="check-all" value="1"></th>
                    <th scope="col">Username</th>
                    <th scope="col" width="15%" class="align-center hide-on-mobile">Email</th>
                    <th scope="col" class="align-right">Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">
                        {{ users | length }} entries found
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-1" value="1"></th>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td><a type ="submit" href="{{path('backend_users_edit', {'id': user.id} )}}" class="savebtn button green-gradient glossy">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="/bundles/kernel/js/developr.table.js"></script>
    <!-- DataTables -->
    <script src="/bundles/kernel/js/libs/jquery.tablesorter.min.js"></script>
    <script src="/bundles/kernel/js/libs/DataTables/jquery.dataTables.min.js"></script>

    <script>
        $.template.init();

        // Table sort - DataTables
        var table = $('#sorting-advanced');
        table.dataTable({
            
        });
    </script>
{% endblock %}