
<!DOCTYPE html>
<html>
    <head>
        <title>Bubbllz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/public/style.css">
        <link rel="stylesheet" type="text/css" href="/public/responsive.css">

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
       
        <link rel="shortcut icon" type="image/png" href="/public/favicon.ico"/>
    </head>
    <body>
        <div id="data-index" data-index="<?php echo $index ?>" style="display: none;"></div>
        <div id="spinner"><img src="/public/loading.gif"/></div>
        <div class="container-full desktop-mode">
            <div>
                <div id="header">
                    <a id="logo" href="https://www.bubbllz.com"><img id="logoMono" src="/public/logoOlo.png"/></a>
                    <a id="letsTalk" class="radius15" href="#contactPage">Ας μιλήσουμε!</a>
                    <div class="clearfix"></div>
                </div>
                <div class="mainContainer">
                    <div class="">
                        <div class="leftContent">
                            <div class="radios radio-showing">
                                <ul>
                                    <li>
                                        <div class="check checked check1" id="slide1" data-slide-num="1"></div>
                                    </li>

                                    <li>
                                        <div class="check check2" id="slide2" data-slide-num="2"><div class="inside"></div></div>
                                    </li>

                                    <li>
                                        <div class="check check3" id="slide3" data-slide-num="3"><div class="inside"></div></div>
                                    </li>

                                    <li>
                                        <div class="check check4" id="slide4" data-slide-num="4"><div class="inside"></div></div>
                                    </li>
                                    <li>
                                        <div class="check check5" id="slide5" data-slide-num="5"><div class="inside"></div></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sliderTexts">
                                <div class="slideText active" data-class="slide1" data-image="image1" data-order="1">
                                    <h1>Τι;</h1><br/>
                                    <p>
                                        Αν είσαι επαγγελματίας τότε ξέρεις ότι ο πελάτης έχει πάντα.. κινητό. Αυτό που ίσως δεν ξέρεις
                                        είναι ότι κάθε πελάτης σου μπορεί να γίνει η επόμενη viral διαφήμιση.
                                    </p>
                                </div>
                                <div class="slideText" data-class="slide2" data-image="image2" data-order="2">
                                    <h1>Πως;</h1>
                                    <p>
                                        Όλοι μας τραβάμε φωτογραφίες τα πράγματα που μας αρέσουν. Αν το προϊόν σου είναι ένα από αυτά τότε οι 
                                        φωτογραφίες αυτές αξίζουν διπλά!
                                    </p>
                                </div>
                                <div class="slideText" data-class="slide3" data-image="image3" data-order="3">
                                    <h1>Δηλαδή;</h1>
                                    <p>
                                        Το Bubbllz είναι μία πλατφόρμα ανταμοιβής των καταναλωτών που μοιράζονται φωτογραφίες στα social media. Με 
                                        κάθε φωτογραφία σχετική με το προϊόν σου που ανεβάζουν μπορούν να κερδίσουν έκπτωση, προσφορά ή να μπουν 
                                        σε κλήρωση για κάποιο δώρο. Έτσι απλά.
                                    </p>
                                </div>
                                <div class="slideText" data-class="slide4" data-image="image4" data-order="4">
                                    <h1>Κι εγώ;</h1>
                                    <p>
                                        Μπορείς να τρέξεις μία social brand campaign με πολύ μικρότερο κόστος αλλά πολύ μεγαλύτερο engagement. Να 
                                        δημιουργήσεις συναισθηματικό δέσιμο με τους καταναλωτές σου αλλά και μεγάλα loyalty games.
                                    </p>
                                </div>
                                <div class="slideText slide5Text" data-class="slide5" data-image="image5" data-order="5">
                                    <h1>Ας μιλήσουμε!</h1>
                                    <p>
                                        Αν όλα αυτά σου φαίνονται ενδιαφέροντα και θέλεις να μάθεις περισσότερα για το bubbllz τότε συμπλήρωσε
                                        τη φόρμα και εμείς θα επικοινωνήσουμε μαζί σου άμεσα.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="rightContent">
                            <div class="sliderImages">
                                <div class="slideImage image1 active-image">
                                    <img class="background" src="/public/ti_image.jpg"/>
                                </div>
                                <div class="slideImage image2">
                                    <img class="background" src="/public/pws_image.jpg"/>
                                </div>
                                <div class="slideImage image3">
                                    <img class="background" src="/public/diladi_back.jpg"/>
                                    <img class="mobileImage mobileImage1 active-mobile" data-id="1" src="/public/mobile_drinks.png"/>
                                    <img class="mobileImage mobileImage2" data-id="2" src="/public/mobile_food.png"/>
                                    <img class="mobileImage mobileImage3" data-id="3" src="/public/mobile_gyms.png"/>
                                    <img class="mobileImage mobileImage4" data-id="4" src="/public/mobile_clothes.png"/>
                                </div>
                                <div class="slideImage image4">
                                    <div class="background" style="background: #04779d"></div>
                                    <img class="slide4-images slide4-images1" src="/public/slide4ImageHand.png" data-echo="/public/slide4ImageHand.png"/>

                                    <img class="slide4-images slide4-images2" src="/public/slide4ImageHandEl1.png" data-echo="/public/slide4ImageHandEl1.png"/>
                                    <img class="slide4-images slide4-images3" src="/public/slide4ImageHandEl2.png" data-echo="/public/slide4ImageHandEl2.png"/>
                                    <img class="slide4-images slide4-images4" src="/public/slide4ImageHandEl3.png" data-echo="/public/slide4ImageHandEl3.png"/>
                                </div>
                                <div class="slideImage image5">
                                    <div class="background" style="background: #f56f53"></div>

                                    {{form_start(form, {"attr": {"id": "form"} } )}}
                                    <div>
                                        <label for=""><span style="color: black">*</span>ΟΝΟΜΑΤΕΠΩΝΥΜΟ</label>
                                        {{form_widget(form.fullName, {"attr": {"autocomplete": "off"} } ) }}
                                    </div>
                                    <div>
                                        <label for="">ΚΑΤΗΓΟΙΑ ΕΠΑΓΓΕΛΜΑΤΟΣ</label>
                                        {{form_widget(form.profession, {"attr": {"autocomplete": "off"} } ) }}
                                    </div>

                                    <div>
                                        <label for=""><span style="color: black">*</span>ΤΗΛΕΦΩΝΟ</label>
                                        {{form_widget(form.contactPhone, {"attr": {"autocomplete": "off"} } ) }}
                                    </div>

                                    <div>
                                        <label for="">EMAIL</label>
                                        {{form_widget(form.email, {"attr": {"autocomplete": "off"} } ) }}
                                    </div>

                                    <div>
                                        <label for="">ΠΟΛΗ</label>
                                        {{form_widget(form.city, {"attr": {"autocomplete": "off"} } ) }}
                                    </div>

                                    <input type="submit" value="Ας μιλήσουμε!" class="" id="form-submit"/>
                                    {{form_end(form)}}
                                    <div class="form-success" style="display: none;">
                                        <img src="/public/tick.png"/>
                                        <h1>Ευχαριστούμε!</h1>
                                        <p>
                                            Λάβαμε τα στοιχεία σας και θα επικοινωνήσουμε άμεσα μαζί σας!
                                        </p>
                                    </div>
                                </div>

                                <!--                                <div class="slideImage image6 active-image">
                                                                    <img class="background" src="/public/slide6Image.jpg"/>
                                                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="mobile-mode mobile-mode-container" style="margin-top: 50px;">
            <div>
                <div id="header">
                    <a id="logo" href="https://www.bubbllz.com"><img id="logoMono" src="/public/logoOlo.png"/></a>
                    <a id="letsTalk" class="radius15 letsTalk1" href="#contactPage" style="margin-bottom: 10px;">Ας μιλήσουμε!</a>
                    <div class="clearfix"></div>
                </div>
                <div class="" style="background: rgba(247,247,247,1);">
                    <div class="mobile-mode">
                        <div class="col-lg-12">
                            <div class="">
                                <div class="" style="padding-top: 40px;">
                                    <div class="mobile-text col-lg-12" data-class="slide1" data-image="image1" data-order="1">
                                        <h1>Τι;</h1><br/>
                                        <p style="margin-top: -20px;">
                                            Αν είσαι επαγγελματίας τότε ξέρεις ότι ο πελάτης έχει πάντα.. κινητό. Αυτό που ίσως δεν ξέρεις
                                            είναι ότι κάθε πελάτης σου μπορεί να γίνει η επόμενη viral διαφήμιση.
                                        </p>
                                    </div>
                                    <div class="mobile-image col-lg-12">
                                        <img class="mobile-background" src="/public/slide1Image.jpg"/>
                                    </div>
                                    <div style="margin-top: 70px;" class="mobile-text col-lg-12 not-visible not-visible2" data-class="slide2" data-image="image2" data-order="2">
                                        <h1>Πως;</h1>
                                        <p>
                                            Όλοι μας τραβάμε φωτογραφίες τα πράγματα που μας αρέσουν. Αν το προϊόν σου είναι ένα από αυτά τότε οι 
                                            φωτογραφίες αυτές αξίζουν διπλά!
                                        </p>
                                    </div>
                                    <div class="mobile-image col-lg-12 not-visible not-visible22">
                                        <img class="mobile-background" src="/public/slide2Image.jpg"/>
                                    </div>
                                    <div style="margin-top: 70px;" class="mobile-text col-lg-12 not-visible not-visible3" data-class="slide3" data-image="image3" data-order="3">
                                        <h1>Δηλαδή;</h1>
                                        <p>
                                            Το Bubbllz είναι μία πλατφόρμα ανταμοιβής των καταναλωτών που μοιράζονται φωτογραφίες στα social media. Με 
                                            κάθε φωτογραφία σχετική με το προϊόν σου που ανεβάζουν μπορούν να κερδίσουν έκπτωση, προσφορά ή να μπουν 
                                            σε κλήρωση για κάποιο δώρο. Έτσι απλά.
                                        </p>

                                    </div>
                                    <div class="mobile-image mobile-image-mobile-container col-lg-12 not-visible not-visible33">
                                        <img class="mobile-background" src="/public/diladi_back.jpg"/>
                                        <img class="mobile-background-image mobile-background-image1" data-id="1" src="/public/mobile2.png"/>
                                        <img class="mobile-background-image mobile-background-image2" data-id="2" src="/public/mobile3.png"/>
                                        <img class="mobile-background-image mobile-background-image3" data-id="3" src="/public/mobile4.png"/>
                                        <img class="mobile-background-image mobile-background-image4" data-id="4" src="/public/mobile5.png"/>
                                    </div>
                                    <div style="margin-top: 70px;" class="mobile-text col-lg-12 not-visible not-visible4" data-class="slide4" data-image="image4" data-order="4">
                                        <h1>Κι εγώ;</h1>
                                        <p>
                                            Μπορείς να τρέξεις μία social brand campaign με πολύ μικρότερο κόστος αλλά πολύ μεγαλύτερο engagement. Να 
                                            δημιουργήσεις συναισθηματικό δέσιμο με τους καταναλωτές σου αλλά και μεγάλα loyalty games.
                                        </p>
                                    </div>
                                    <div class="mobile-image mobile-background-hand-container col-lg-12 not-visible not-visible44">
                                        <div class="mobile-background" style="background: #04779d"></div>
                                        <img class="mobile-background-hand mobile-background-hand1" src="/public/slide4ImageHand.png" data-echo="/public/slide4ImageHand.png"/>

                                        <img class="mobile-background-hand mobile-background-hand2" src="/public/slide4ImageHandEl1.png" data-echo="/public/slide4ImageHandEl1.png"/>
                                        <img class="mobile-background-hand mobile-background-hand3" src="/public/slide4ImageHandEl2.png" data-echo="/public/slide4ImageHandEl2.png"/>
                                        <img class="mobile-background-hand mobile-background-hand4" src="/public/slide4ImageHandEl3.png" data-echo="/public/slide4ImageHandEl3.png"/>
                                    </div>
                                    <div style="margin-top: 70px;" class="mobile-text col-lg-12 not-visible not-visible5" data-class="slide5" data-image="image5" data-order="5">
                                        <h1>Ας μιλήσουμε!</h1>
                                        <p>
                                            Αν όλα αυτά σου φαίνονται ενδιαφέροντα και θέλεις να μάθεις περισσότερα για το bubbllz τότε συμπλήρωσε
                                            τη φόρμα και εμείς θα επικοινωνήσουμε μαζί σου άμεσα.

                                        </p>
                                    </div>
                                    <div class="mobile-image mobile-image-form col-lg-12 not-visible not-visible55" style="padding: 0">
                                        <div class="mobile-background mobile-background-form" style="background: #f56f53"></div>
                                        {{form_start(form, {"attr": {"id": "businessform"} } )}}
                                        <div>
                                            <label for=""><span style="color: black">*</span>ΟΝΟΜΑΤΕΠΩΝΥΜΟ</label>
                                            {{form_widget(form.fullName, {"attr": {"autocomplete": "off"} } ) }}
                                        </div>
                                        <div>
                                            <label for="">ΚΑΤΗΓΟΙΑ ΕΠΑΓΓΕΛΜΑΤΟΣ</label>
                                            {{form_widget(form.profession, {"attr": {"autocomplete": "off"} } ) }}
                                        </div>

                                        <div>
                                            <label for=""><span style="color: black">*</span>ΤΗΛΕΦΩΝΟ</label>
                                            {{form_widget(form.contactPhone, {"attr": {"autocomplete": "off"} } ) }}
                                        </div>

                                        <div>
                                            <label for="">EMAIL</label>
                                            {{form_widget(form.email, {"attr": {"autocomplete": "off"} } ) }}
                                        </div>

                                        <div>
                                            <label for="">ΠΟΛΗ</label>
                                            {{form_widget(form.city, {"attr": {"autocomplete": "off"} } ) }}
                                        </div>

                                        <input type="submit" value="Ας μιλήσουμε!" class="" id="form-submit"/>
                                        {{form_end(form)}}
                                        <div style="display: none">
                                            <h1>Ευχαριστούμε!</h1>
                                            <p>
                                                Λάβαμε τα στοιχεία σας και θα επικοινωνήσουμε άμεσα μαζί σας!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'>
        < script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/public/script.js"></script>
    <script>

        $(document).ready(function () {

            $('.form-submit').click(function () {


            });


        });
    </script>
</html>
