

    {%if message[0] == 'error' %}
        <div class="alert alert-block alert-danger">
            <div data-icon="" class="alert_icon"></div>
            <div class="alert_title"><h4>Δεν ήταν δυνατή η αποστολή</h4></div><br>
            <ul class="unordered">
                <script>
                    $("#message").addClass("warning").stop().slideDown("normal").fadeIn("normal").delay(3000).slideUp("normal");
                </script>
               
                    <li><h6>{{message[1]}}.</h6></li>
                   
            </ul>
        </div> 
    {%endif%}
    
    
    {%if message[0] == 'success' %}
          <div class="alert alert-block alert-success">
            <div data-icon="" class="alert_icon"></div>
            <div class="alert_title"><h4>Επιτυχής Αποστολή</h4></div><br>
            <ul class="unordered">
                <script>
                    $("#message").addClass("success").stop().slideDown("normal").fadeIn("normal").delay(3000).slideUp("normal");
                </script>
              
                    <li><h6>{{message[1]}}.</h6></li>
                    
            </ul>
        </div> 
    {%endif%}










{#        <div id="message" class="success" style="display: none;"><div id="alert"><script>$("#message").addClass("success").stop().slideDown("normal").fadeIn("normal").delay(3000).slideUp("normal");</script><div class="alert alert-block alert-success"><div data-icon="" class="alert_icon"></div><h4>Ευχαριστούμε για την εκδήλωση ενδιαφέροντος.</h4></div><script>$('#contact-form input[type=text], #contact-form textarea').val('');</script></div></div>#}