<!DOCTYPE html>
<html>
    <head>
        <title>bubbllz app</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        {% block stylesheets %}
            <!-- Included Google Fonts -->
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>


            <!-- CSS Files comes here -->
            <link href="/bundles/home/css/grid12.css" rel="stylesheet" media="screen">                              	 <!-- Grid System -->
            <link href="/bundles/home/css/james_typography.css" rel="stylesheet" media="screen">                       <!-- James Framework - TYPOGRAPHY -->
            <link href="/bundles/home/css/main.css" rel="stylesheet" media="screen">                                   <!-- Main CSS file -->
            <link href="/bundles/home/css/color_scheme_light.css" rel="stylesheet" media="screen">                      <!-- Color scheme (dark/light)-->
            <link href="/bundles/home/css/colors/color_palette_blue.css" rel="stylesheet" media="screen">              <!-- Color palette -->
            <link href="/bundles/home/css/rapid-icons.css" rel="stylesheet" media="screen">                            <!-- James Framework - ICONS -->
            <link href="/bundles/home/css/js_styles/jquery.maximage.min.css" rel="stylesheet" media="screen">          <!-- MaxImage background image slideshow -->
            <link href="/bundles/home/css/responsivity.css" rel="stylesheet" media="screen">                           <!-- Responsive Fixes -->
            <link href="/bundles/home/css/animate.css" rel="stylesheet" media="screen">                                <!-- Animate - animations -->
            <link href="/bundles/home/css/nivo-lightbox.css" rel="stylesheet" media="screen">                          <!-- Lightbox Styles -->
            <link href="/bundles/home/css/nivo_lightbox_themes/default/default.css" rel="stylesheet" media="screen">   <!-- Lightbox Styles -->
            <link href="/bundles/home/css/owl.carousel.css" rel="stylesheet" media="screen">                           <!-- Owl - Carousel -->
            <link href="/bundles/home/css/owl.theme.css" rel="stylesheet" media="screen">                      		 <!-- Owl - Carousel -->
            <link href="/bundles/home/css/owl.transitions.css" rel="stylesheet" media="screen">                        <!-- Owl - Carousel -->

        {% endblock %}
    </head>

    <body>

        <!-- Mobile nav -->      
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
            <div class="mobile_nav_close_button"><a href="" id="hideRight"><div data-icon="&#xe13f;" class="button_icon close_icon"></div></a></div>
            <nav id="mobile_menu_content">
                <a href="#main_content" >Hello</a>
                <a href="#more_info" >Τι είναι το bubbllz</a>
                <a href="#reviews" >Για εμάς μετράς</a>
                <a href="#newsletter" >Download</a>
                <a href="#screenshots" >Screenshots</a>
                <a href="#contact" >Επικοινωνία</a>
                <a href={{ path('home_business') }}>Έχω επιχείρηση</a>
            </nav>
        </div>
        <!-- //Mobile nav -->

        <div id="preloader_container">

            <!-- Preloader Screen -->
            <header class="preloader_header">	 
                <div class="preloader_loader">
                    <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
                    <path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                    <path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                    </svg>
                </div>
            </header>
            <!-- //Preloader Screen -->


            <!-- Fullscreen homepage -->
            <section class="hero_fullscreen background_slider menu_bar-waypoint" data-animate-down="menu_bar-hide" data-animate-up="menu_bar-hide" >
                <!-- This section class is where you can edit background choice (background_single, background_slider, background_video) you can also enable gradient overlay (gradient_overlay) and mockups (mockups)-->


                <!-- Logo and navigation -->
                <div class="container top_bar" >
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p><img src="/bundles/home/images/logo_white.png" alt="logo" class="logo-white"/></p>
                            <nav class="navigation_desktop">
                                <ul>
                                    <li><a href="#main_content" class="visible-lg visible-md go_to_overview">Hello</a></li>
                                    <li><a href="#more_info" class="visible-lg visible-md">Τι είναι το bubbllz</a></li>
                                    <li><a href="#reviews" class="visible-lg visible-md">Για εμάς μετράς</a></li>
                                    <li><a href="#newsletter" class="visible-lg visible-md">Download</a></li>
                                    <li><a href="#screenshots" class="visible-lg visible-md">Screenshots</a></li>
                                    <li><a href="#contact" class="visible-lg visible-md">Επικοινωνία</a></li>
                                    <li><div class="mobile_nav_open_button hidden-lg hidden-md"  ><a href="" id="showRight_1" ><div data-icon="&#xe2f3;" class="button_icon close_icon top-button-white"></div></a></div></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- //Logo and navigation -->


                <!-- Main content -->
                <div class="container align-left" id="main_content">
                    <div class="content_container row" >
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 home_content">
                            <h2 class="slogan">Δώσε αξία στις φωτογραφίες σου.</h2>
                            <h6 class="description">Το Bubbllz είναι ενας δωρεάν και απλός τρόπος επιβράβευσης για τις φωτογραφίες που ανεβάζετε στα social media.</h6>

                            <!-- CTA Buttons-->
                            <div class="cta_button_area">
                                <div>
                                    <a href="https://play.google.com/store/apps/details?id=gr.itbooms.bubbllz" class="google-play"><img src="/bundles/home/images/google_play.png" alt="google_play"></a>
                                    <a href="https://itunes.apple.com/us/app/bubbllz/id1182709087?mt=8" class="app-store"><img src="/bundles/home/images/app_store.png" alt="app_store" name="app-store"></a>
                                </div>
                            </div>
                            <!-- //CTA Buttons-->

                        </div>



                    </div>				
                </div>  
                <!-- //Main content -->




                <!-- Slider Background -->
                <div id="maximage_slider">
                    <img src="/bundles/home/images/slide1.jpg" alt=""/>
                    <img src="/bundles/home/images/slide2.jpg" alt=""/>
                    <img src="/bundles/home/images/slide3.jpg" alt=""/>
                </div>
                <!-- //Slider Background -->


            </section><!-- //Homepage -->


            <!-- Menu bar -->
            <header id="menu_bar" class="menu_bar">
                <div class="container">
                    <a href="" class="go_to_home logo_dark"><img src="/bundles/home/images/logo_blue1.png" alt="" class="logo-blue"/></a>
                    <a href="" class="go_to_home logo_light"><img src="/bundles/home/images/logo_white.png" alt="logo" class="logo-white"/></a>
                    <nav class="menu_bar_navigation">
                        <ul>
                            <li class="visible-lg visible-md"><a href="#main_content" class="go_to_overview">Hello</a></li>
                            <li class="visible-lg visible-md"><a href="#more_info">Τι είναι το bubbllz</a></li>
                            <li class="visible-lg visible-md"><a href="#reviews">Για εμάς μετράς</a></li>
                            <li class="visible-lg visible-md"><a href="#newsletter">Download</a></li>
                            <li class="visible-lg visible-md"><a href="#screenshots">Screenshots</a></li>
                            <li class="visible-lg visible-md"><a href="#contact">Επικοινωνία</a></li>
                            <li class="visible-lg visible-md last-item"><form action={{ path('home_business')}}><button class="btn waves-effect waves-light" style="background-color:#00789c">Έχω επιχείρηση</button></form></li>
                            <li class="hidden-lg hidden-md"><div class="mobile_nav_open_button"><a href="" id="showRight_2"><div data-icon="&#xe2f3;" class="button_icon close_icon top-button-blue"></div></a></div></li>
                        </ul>
                    </nav>

            </header><!-- // Menu bar -->


            <!-- More Info #################### -->

            <section id="more_info" data-animate-down="menu_bar-show" data-animate-up="menu_bar-hide" class="menu_bar-waypoint subsection">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 align-center content_anim1 intro">
                            <h3>Το bubbllz σε επιβραβεύει για να κάνεις αυτό που ξέρεις καλύτερα. Να ανεβάζεις φωτογραφίες.</h3>
                        </div>
                    </div>				
                </div>

                <div class="more_info_mockup content_anim2 ">
                    <img src="/bundles/home/images/mobile.png" alt="" class="img_responsive"/>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="iconbox content_anim3">
                                <div class="iconbox_icon"><img src="/bundles/home/images/download.png" alt="download"></div>
                                <div class="iconbox_content">
                                    <h5 class="features-title">1. Κατέβασε την εφαρμογή</h5>
                                    <p class="features-col1">Δες τις προσφορές γύρω σου. Επίλεξε στο χάρτη το bubbllz place που βρίσκεσαι και διάλεξε προσφορά.</p>
                                    <!--<h5 class="features-title">1. Κατεβάζεις</h5>-->
                                    <!--<p class="features-col1">Κατέβασε το bubbllz app στο κινητό σου, επίλεξε στο χάρτη το bubbllz place που βρίσκεσαι και ξεκίνα τη διαδικασία.</p>-->
                                </div>
                            </div>	
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="iconbox content_anim4">
                                <div class="iconbox_icon"><img src="/bundles/home/images/photo.png" alt="photo"></div>
                                <div class="iconbox_content">
                                    <h5 class="features-title">2. Φωτογραφίζεις</h5>
                                    <p class="features-col2">Βγάλε μια φωτογραφία το προϊόν που αγόρασες, πρόσθεσε το κείμενό σου και διάλεξε #hashtags.</p>
                                </div>
                            </div>	
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="iconbox content_anim5">
                                <div class="iconbox_icon"><img src="/bundles/home/images/win.png" alt="upload"></div>
                                <div class="iconbox_content">
                                    <h5 class="features-title">3. Ανεβάζεις & Κερδίζεις</h5>
                                    <p class="features-col3">Ανέβασε την φωτογραφία σου στο Facebook προφίλ σου και πάρε την επιβράβευση.</p>
                                </div>
                            </div>	
                        </div>

                    </div>				
                </div>

            </section><!-- //More info -->


            <!-- Reviews #################### -->


            <section id="reviews" class="subsection" style="width:100%; padding:0; ">
                <div class="owl-carousel" id="owl-carousel">
                    <div class="row no-margin" style="background: #42b77b;" >
                        <div class="col-xs-12 content_anim17 wide-slide">
                            <div class="owl-carousel">
                                <div class="single_review">
                                    <div class="review_content floatleft">
                                        <div class="slider-title-div"><h2 class="opacity slider-title">Όποιος κι αν είσαι, για εμάς <b>μετράς</b>!</h2></div>
                                        <div class="slider-undertext"><h6 class="opacity slider-subtitle">Το bubbllz σε επιβραβεύει για να κάνεις αυτό που ξέρεις καλύτερα. Να σελφάρεις…</h6></div>
                                    </div>
                                    <img src="/bundles/home/images/slider/selfou.png" alt="selfou" class="floatright slider-margin">
                                </div>
                            </div>
                        </div>	
                    </div>	

                    <div class="row no-margin" style="background: #fba82c;" >
                        <div class="col-xs-12 content_anim17 wide-slide">
                            <div class="owl-carousel">
                                <div class="single_review">
                                    <div class="review_content floatleft">
                                        <div class="slider-title-div"><h2 class="opacity slider-title">Όποιος κι αν είσαι, για εμάς <b>μετράς</b>!</h2></div>
                                        <div class="slider-undertext"><h6 class="opacity slider-subtitle">Το bubbllz σε επιβραβεύει για να κάνεις αυτό που ξέρεις καλύτερα. Να τρως καλά…</h6></div>
                                    </div>
                                    <img src="/bundles/home/images/slider/fagatoi.png" alt="fagatoi" class="floatright slider-margin">
                                </div>
                            </div>
                        </div>	
                    </div>

                    <div class="row no-margin" style="background: #ee5d8b;" >
                        <div class="col-xs-12 content_anim17 wide-slide">
                            <div class="owl-carousel">
                                <div class="single_review">
                                    <div class="review_content floatleft">
                                        <div class="slider-title-div"><h2 class="opacity slider-title">Όποιος κι αν είσαι, για εμάς <b>μετράς</b>!</h2></div>
                                        <div class="slider-undertext"><h6 class="opacity slider-subtitle">Το bubbllz σε επιβραβεύει για να κάνεις αυτό που ξέρεις καλύτερα. Να τα δοκιμάζεις όλα…</h6></div>
                                    </div>
                                    <img src="/bundles/home/images/slider/fashionista.png" alt="fashionista" class="floatright slider-margin">
                                </div>
                            </div>
                        </div>	
                    </div>

                    <div class="row no-margin" style="background: #210d36;" >
                        <div class="col-xs-12 content_anim17 wide-slide">
                            <div class="owl-carousel">
                                <div class="single_review">
                                    <div class="review_content floatleft">
                                        <div class="slider-title-div"><h2 class="opacity slider-title">Όποιος κι αν είσαι, για εμάς <b>μετράς</b>!</h2></div>
                                        <div class="slider-undertext"><h6 class="opacity slider-subtitle">Το bubbllz σε επιβραβεύει για να κάνεις αυτό που ξέρεις καλύτερα. Να διασκεδάζεις…</h6></div>
                                    </div>
                                    <img src="/bundles/home/images/slider/barovioi.png" alt="barovioi" class="floatright slider-margin">
                                </div>
                            </div>
                        </div>	
                    </div>

                    <div class="row no-margin" style="background: #74cee6;" >
                        <div class="col-xs-12 content_anim17 wide-slide">
                            <div class="owl-carousel">
                                <div class="single_review">
                                    <div class="review_content floatleft">
                                        <div class="slider-title-div"><h2 class="opacity slider-title">Όποιος κι αν είσαι, για εμάς <b>μετράς</b>!</h2></div>
                                        <div class="slider-undertext"><h6 class="opacity slider-subtitle">Το bubbllz σε επιβραβεύει για να κάνεις αυτό που ξέρεις καλύτερα. Να σελφάρεις…</h6></div>
                                    </div>
                                    <img src="/bundles/home/images/slider/selfakias.png" alt="selfakias" class="floatright slider-margin">
                                </div>
                            </div>
                        </div>	
                    </div>

                    <div class="row no-margin" style="background: #d14f53;" >
                        <div class="col-xs-12 content_anim17 wide-slide">
                            <div class="owl-carousel">
                                <div class="single_review">
                                    <div class="review_content floatleft">
                                        <div class="slider-title-div"><h2 class="opacity slider-title">Όποιος κι αν είσαι, για εμάς <b>μετράς</b>!</h2></div>
                                        <div class="slider-undertext"><h6 class="opacity slider-subtitle">Το bubbllz σε επιβραβεύει για να κάνεις αυτό που ξέρεις καλύτερα. Να μπετόν αρμέ…</h6></div>
                                    </div>
                                    <img src="/bundles/home/images/slider/20kilos.png" alt="20kilos" class="floatright slider-margin">
                                </div>
                            </div>
                        </div>	
                    </div>

                </div>			
            </section>        


            <!-- Newsletter #################### -->
            <section id="newsletter" class="subsection_parallax download-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim27">
                            <div class="intro">
                                <h3 class="opacity">Κατέβασε την εφαρμογή Δωρεάν!</h3>
                                <div class="store-buttons">
                                    <a href="https://play.google.com/store/apps/details?id=gr.itbooms.bubbllz" class="google-play"><img src="/bundles/home/images/google_play.png" alt="google_play"></a>
                                    <a href="https://itunes.apple.com/us/app/bubbllz/id1182709087?mt=8" class="app-store"><img src="/bundles/home/images/app_store.png" alt="app_store" name="app-store"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section><!-- //Newsletter-->



            <!-- Screenshots #################### -->

            <section id="screenshots" class="subsection">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
                            <div class="intro content_anim25">
                                <h3>Screenshots</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content_anim26" id="screenshots_gallery">
                    <div class="owl-carousel-screenshots">
                        <div><a href="/bundles/home/images/screenshots/screenshot1.jpg" data-lightbox-gallery="gallery1" ><img src="/bundles/home/images/screenshots/screenshot1.jpg" class="shadow" alt="screenshot1"></a></div>
                        <div><a href="/bundles/home/images/screenshots/screenshot2.jpg" data-lightbox-gallery="gallery1" ><img src="/bundles/home/images/screenshots/screenshot2.jpg" class="shadow" alt="screenshot2"></a></div>
                        <div><a href="/bundles/home/images/screenshots/screenshot3.jpg" data-lightbox-gallery="gallery1" ><img src="/bundles/home/images/screenshots/screenshot3.jpg" class="shadow" alt="screenshot3"></a></div>
                        <div><a href="/bundles/home/images/screenshots/screenshot4.jpg" data-lightbox-gallery="gallery1" ><img src="/bundles/home/images/screenshots/screenshot4.jpg" class="shadow" alt="screenshot4"></a></div>
                        <div><a href="/bundles/home/images/screenshots/screenshot5.jpg" data-lightbox-gallery="gallery1" ><img src="/bundles/home/images/screenshots/screenshot5.jpg" class="shadow" alt="screenshot5"></a></div>
                        <div><a href="/bundles/home/images/screenshots/screenshot6.jpg" data-lightbox-gallery="gallery1" ><img src="/bundles/home/images/screenshots/screenshot6.jpg" class="shadow" alt="screenshot6"></a></div>
                        <div><a href="/bundles/home/images/screenshots/screenshot7.jpg" data-lightbox-gallery="gallery1" ><img src="/bundles/home/images/screenshots/screenshot7.jpg" class="shadow" alt="screenshot7"></a></div>

                    </div>
                </div>

            </section><!-- //Screenshots-->

            <section id="contact" class="subsection">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content_anim29">
                            <h3>Στοιχεία επικοινωνίας</h3>
                            <p>Θέλεις να γίνεις beta tester ή να ενημερωθείς για το πότε ξεκινάει στην περιοχή σου;</p>
                            <p>Στείλε μας το όνομα σου και το e-mail σου.</p>

                            <ul class="icon_list">
                                <li><div data-icon="&#xe1b4;" class="icon_small float-left"></div><h6>2ο χλμ Θεσσαλονίκης Θέρμης<br>Θέρμη</h6></li>
                                <li><div data-icon="&#xe23a;" class="icon_small float-left"></div><h6>2310 024526</h6></li>
                                <li><div data-icon="&#xe242;" class="icon_small float-left"></div><h6><a href="mailto:support@bubbllz.com">support@bubbllz.com</a></h6></li>
                            </ul>

                        </div>


                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim30">
                            <h3>Φόρμα Επικοινωνίας</h3>

                            <!-- Contact Form --> 
                            {{form_start(form, {'action': path('home_sent_info_mail'), 'method': 'post', 'attr': {'id':'contact-form' , "novalidate": "novalidate"}})}}
                            <div class="contact_form">
                                <div class="input-field">
                                    {{form_row(form.name)}}

                                </div>
                                <div class="input-field">
                                    {{form_row(form.email)}}

                                </div>
                                <div class="input-field">
                                    {{form_row(form.message)}}

                                </div>
                            </div>	
                            <button class="btn waves-effect waves-light submit" type="submit" name="action">Αποστολή</button>

                            {{form_end(form)}}


                            <div id="message"><div id="alert"></div></div><!-- Message container --> 
                        </div>



                    </div>				
                </div>
            </section><!-- //More info -->

            <section id="footer" class="subsection">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">

                            <p><small>Copyright © 2017 ITBooms</small></p>	
                        </div>
                    </div>				
                </div>
            </section><!-- //More info -->


        </div><!-- //preloader -->





        {% block javascripts %}
            {{include("BubbllzHomeBundle:Home/Scripts:HomeScripts.html.twig")}} 

            <!-- Show message after newsletter form submit -->
            <script type="text/javascript">
                $('document').ready(function ()
                
                });
            </script>

            <script>
                $("#owl-carousel").owlCarousel({
                    slideSpeed: 800,
                    //autoPlay: 4000,
                    items: 1,
                    stopOnHover: false,
                    itemsDesktop: [1199, 1],
                    itemsDesktopSmall: [979, 1],
                    itemsTablet: [768, 1],
                });
            </script>

            <!-- MOBILE NAVIGATION -->
            <script>
                var showRight_1 = document.getElementById("showRight_1"),
                        showRight_2 = document.getElementById("showRight_2"),
                        hideRight = document.getElementById('hideRight'),
                        menuRight = document.getElementById('cbp-spmenu-s2'),
                        body = document.body;

                showRight_1.onclick = function (event) {
                    "use strict";
                    event.preventDefault();
                    classie.toggle(this, 'active');
                    classie.toggle(menuRight, 'cbp-spmenu-open');
                    disableOther('showRight_1');
                    return false;
                };

                showRight_2.onclick = function (event) {
                    "use strict";
                    event.preventDefault();
                    classie.toggle(this, 'active');
                    classie.toggle(menuRight, 'cbp-spmenu-open');
                    disableOther('showRight_2');
                    return false;
                };

                hideRight.onclick = function (event) {
                    "use strict";
                    event.preventDefault();
                    classie.toggle(this, 'active');
                    classie.toggle(menuRight, 'cbp-spmenu-open');
                    disableOther('showRight_2');
                    return false;
                };
            </script>


            <!-- Nav Bar show/hide after scrolling -->
            <script>
                var $head = $('#menu_bar');
                $('.menu_bar-waypoint').each(function (i) {
                    var $el = $(this),
                            animClassDown = $el.data('animateDown'),
                            animClassUp = $el.data('animateUp');


                    $el.waypoint(function (direction) {
                        if (direction === 'down' && animClassDown) {
                            $head.attr('class', 'menu_bar ' + animClassDown);
                        }
                        else if (direction === 'up' && animClassUp) {
                            $head.attr('class', 'menu_bar ' + animClassUp);
                        }
                    }, {offset: function () {
                            navbarheight = $("#menu_bar").outerHeight() + 1;
                            return navbarheight;
                        }
                    });
                });
            </script>

        {% endblock javascripts %}