@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2016, 11:12:45 PM
    Author     : pilixonis
*/
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix {
    clear: both;
}
#window,
#window .jqx-resize,
#window .jqx-widget-content,
#window .body {
    height: auto!important;
}
/*------------------------------------------------------------ Clasees ------------------------------------------------------------------------------------------*/
html,body {
    background: #486066;
    font-family: 'Roboto', sans-serif!important;
    min-width: 800px;
}

#header {
    height: 150px;
    background: #3197ee;
    position: relative;
}

#loginFooter {
    text-align: center;
    background: #3197ee;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#header .logo{
    float: left;
}
#header .loginform{
    float: right!important;
    width: 600px!important;
    padding-top: 40px;
}
#header .loginform input[type="text"], #header .loginform input[type="password"]{
    width: 200px;
}
#loginFooter span {
    display: inline-block;
    padding: 15px 10px;
}

#login-main-content {   
    font-weight: 300!important;
}

#login-main-content form, .fos_user_registration_register {
    width: 500px;
    margin: auto;
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#login-main-content form #remember_me_label {
    color: white;
}

.btn-submit{
    background: #f56b4f;
    color: white!important;
}

#_register {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    width: 150px!important;
    color: white;
    font-weight: bold;
}

textarea{
    resize: none;
}

b {
    font-weight: bold;
}

.register-form-container {
    width: 500px; 
    background: #3c5258 !important; 
    margin: auto;
    margin-top: 60px;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    border-radius: 10px!important;
}

.register-form-header {
    background: #486066 !important; 
    padding: 25px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #e5e8e9;
    font-size: 30px;
    background-image: url("/bundles/appkernel/images/perfore_line.png")!important;
    background-repeat: no-repeat!important;
    background-position: bottom!important;
}

.register-form-confirm-message {
    color: white;
    padding: 15px;
    line-height: 25px;
}

.nav-pills, .nav-pills > li > a, .nav-pills > li {
    outline: none!important;
}

.nav-pills > li > a {
    color: #fff;
}


.nav-pills > li > a:hover {
    color: #000;
    background: #f1f1f1;
}

.nav-pills > li.active > a {
    background: #f56b4f!important;
    color: white!important;
}

.nav-pills > li.active > a:hover {
    color: #000;
    background: #f1f1f1;
}

.profile-nav-bar {
    margin-top: 30px;
}

.tab-content {
    padding: 20px 10px;
}

#main-content {
    background: #486066;
    padding-bottom: 70px;
    padding-top: 30px;
}

.tagit-new input, .tagit {
    background: #f1f1f1!important;
}

.form-group label {
    color: #f1f1f1!important;
    margin-bottom: 5px;
}

#store-statistics-tabs {
    border-bottom: 3px solid #ccc;
}

#store-statistics-tabs a .disabled{
    cursor: pointer;
    background: #f56b4f!important;
    color: white!important;
}


.dataTables_wrapper input{

}




table {
    border: 1px solid #ccc;
}


table thead, table tfoot {
    cursor: pointer;
    background: #f1f1f1!important;
}
table thead tr th, table tfoot tr th { 
    color: #8a979b!important;
}
.table thead tr th span { 
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

table tfoot tr th {
    border-right: 1px solid #ccc;
}

table tfoot tr th:last-child {
    border-right: none;
}

#dtTable_wrapper .row:last-child {
    background: #05779c!important;
    margin: -7px 0px 0 0px;
}

#dtTable_info {
    color: #e5e8e9;
}

.table thead tr th.headerSortUp, .table thead tr th.headerSortDown {
    background: #acc8dd;
}

.table thead tr th.headerSortUp span {
    background-image: url('http://i.imgur.com/SP99ZPJ.png');
}
.table thead tr th.headerSortDown span {
    background-image: url('http://i.imgur.com/RkA9MBo.png');
}


.table tbody tr { 
    color: #555;
}
.table tbody tr td {
    text-align: center;
    padding: 15px 10px;
}
.table tbody tr td.lalign {
    text-align: left;
}

#header .tabs {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
}

#header .tabs .disabled {
    cursor: pointer;
}

#header .tabs > div > div {
    display: inline-block;
}

.btn-tabs {
    height: 40px;
    display: inline-block;
    *display: inline;
    padding: 0px 12px 4px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 21px;
    line-height: 21px;
    color: #3197ee;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #e0e0e0;
    background-color: #e0e0e0;
    background-image: -moz-linear-gradient(top, #e0e0e0,#e0e0e0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e0e0e0), to(#e0e0e0));
    background-image: -webkit-linear-gradient(top, #e0e0e0,#e0e0e0);
    background-image: -o-linear-gradient(top,#e0e0e0, #e0e0e0);
    background-image: linear-gradient(to bottom, #e0e0e0,#e0e0e0);
    background-repeat: repeat-x;
    border: 1px solid #e0e0e0;
    *border: 0;
    border-color: #e0e0e0;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-bottom-color: #e0e0e0;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#e0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.2), 0 0px 0px rgba(0, 0, 0, 0.05);
}

fieldset legend{
    color: #f56b4f;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    margin-bottom: 15px;
}

.copy-fields-container {
    float: right;
}
.activeOffer > .create-new-container label {
    color: white;
    margin-bottom: 10px;
}
.activeOffer .btn-create-new {
    font-size: 35px;
    padding: 10px 55px!important;
    margin-top: 100px;
}

.activeOffer fieldset > div {
    padding: 15px!important;
}

.active-offer-container {
}

.active-offer-container > div {
    background: #05779c;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.active-offer-container > div label {
    margin-bottom: 10px; 
}

.active-offer-container label strong {
    font-weight: bold;
}

.active-offer-container label {
    color: white;
}

.live .image {
    width: 200px!important; 
    height: auto!important;
    float: left!important;
}

.live .checkin p {
    float: left; 
    padding-left: 10px; 
    color: white;
}

.live .checkin p span {
    display: block; 
    padding: 2px; 
}

.live h2 {
    color: white;
    margin-bottom: 50px;
}

.live h4 {
    color: white;
}

.live h4 img {
    width: 20px!important;
    height: 20px;
}

.not-visible {
    visibility: hidden;
}

.live-search {
    float: right;
    width: 200px;
}

.live-search .form-control {
    float: left;
    width: 160px;
}

.live-search .btn {
    float: left;
    width: 40px;
}

.live .nav-tabs a {
    color: white!important;
}

.live .nav-tabs li:hover a {
    color: #000!important;
}

.live .nav-tabs .active a {
    color: #000!important;
}

.orange {
    color: orange!important;
}

.marketing-label {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 10px;
}

.buttons{
    text-align: center;
}