@import url(https://fonts.googleapis.com/css?family=Ubuntu);
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 3, 2016, 11:12:45 PM
    Author     : pilixonis
*/
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix {
    clear: both;
}
#window,
#window .jqx-resize,
#window .jqx-widget-content,
#window .body {
    height: auto!important;
}
/*------------------------------------------------------------ Clasees ------------------------------------------------------------------------------------------*/
html,body {
    background: #05779c;
    font-family: 'Roboto', sans-serif!important;
    min-width: 800px;
}

#loginHeader {
    height: 150px;
    background: #3197ee;
}

#loginFooter {
    text-align: center;
    background: #3197ee;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#loginHeader .logo{
    float: left;
}
#loginHeader .loginform{
    float: right!important;
    width: 600px!important;
    padding-top: 40px;
}
#loginHeader .loginform input[type="text"], #loginHeader .loginform input[type="password"]{
    width: 200px;
}
#loginFooter span {
    display: inline-block;
    padding: 15px 10px;
}

#login-main-content {   
    font-weight: 300!important;
}

#login-main-content form, .fos_user_registration_register {
    width: 500px;
    margin: auto;
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#login-main-content form input[type="text"], .form-control,  #login-main-content form input[type="password"]{
    background: #f1f1f1!important;
    color: black!important;
    border: none!important;
    transition: 0.3s;
    padding: 1% !important;
    vertical-align: middle;
    outline: none !important;
    line-height: normal;
}

/*::-webkit-input-placeholder {  
    color:    #e5e8e9!important;
}
:-moz-placeholder {  
    color:    #e5e8e9!important;
    opacity:  1;
}
::-moz-placeholder {  
    color:    #e5e8e9!important;
    opacity:  1;
}
:-ms-input-placeholder {  
    color:    #e5e8e9!important;
}*/

#login-main-content form #remember_me_label {
    color: white;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/bundles/appkernel/css/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}

.btn-submit{
    background: #f56b4f;
}

#_register {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    width: 150px!important;
    color: white;
    font-weight: bold;
}

textarea{
    resize: none;
}

b {
    font-weight: bold;
}

.register-form-container {
    width: 500px; 
    background: #3c5258 !important; 
    margin: auto;
    margin-top: 60px;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    border-radius: 10px!important;
}

.register-form-header {
    background: #486066 !important; 
    padding: 25px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #e5e8e9;
    font-size: 30px;
    background-image: url("/bundles/appkernel/images/perfore_line.png")!important;
    background-repeat: no-repeat!important;
    background-position: bottom!important;
}

.register-form-confirm-message {
    color: white;
    padding: 15px;
    line-height: 25px;
}