{% extends "BubbllzUserBundle:Shared:Layout.html.twig" %}
{% block content %}



    <hgroup id="main-title" class="thin">
        <h1>Πληροφορίες</h1>
    </hgroup>

    <div class="with-padding">
        {{form_start(form, {'action': path('user_group_create'),'attr': {'id': 'form', 'class': 'columns', 'enctype': 'multipart/form-data'} } )}}
        <div class="four-columns six-columns-tablet twelve-columns-mobile">

            <br/>
            <h4><label class="two columns green underline">Όνομα Group</label></h4>
            {{form_widget(form.name)}}
            
             <h4><label class="two columns green underline">Επιλογή Τυπου Χρήστη</label></h4>
            {{form_widget(form.accountType)}}
            
            <h4><label class="two columns green underline">Επιλογή Ρόλων</label></h4>
            {{form_widget(form.roles)}}
           
             <div class="clearfix"></div>
              <br>
           <button type ="submit" href="javascript:void(0)" class="savebtn button green-gradient glossy">Αποθήκευση</button>
         
        </div>
        {# <div class="four-columns six-columns-tablet twelve-columns-mobile">
 
             <br/>
             {{form_row(form.roles)}}
 
 
 
         </div>#}
        <div class="clearfix"></div>
        {{form_end(form)}}
    </div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $.template.init();

      
        $('.savebtn').click(function () { 
            var form = $('#form');
           // form.submit();
           // return false;
        });


        $(document).ready(function () {

        });
    </script>
{%endblock%}
